@import 'app/style/index.scss'; // автоматически включает mixins, layout, и т.д.

.footer {
  border-radius: 18px 18px 0 0;
  padding: 24px;

  @include flex-column;
  gap: 24px;

  .top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 32px;
    width: 100%;
  }

  .card {
    @include flex-column;
    gap: 12px;
  }

  .title {
    font-size: 16px;
    font-weight: 600;
  }

  .subtitle {
    font-size: 13px;
    color: var(--color-text-secondary);
  }

  .cardText {
    font-size: 14px;
    line-height: 1.4;
  }

  .contacts {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
  }

  .icons {
    width: 24px;
    height: 24px;
    color: #98768b;
  }

  .navLink {
    font-size: 13px;
    color: var(--color-text-primary);
    transition: 0.2s;

    &:hover {
      color: var(--color-primary);
    }
  }

  .hours {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
  }

  .bottom {
    gap: 8px;

    @include respond(md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .rights {
      font-size: 12px;
    }

    .loveText {
      font-size: 12px;
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .created {
      font-size: 12px;

      .link {
        color: var(--color-bg-primary2);
        font-size: 12px;
      }
    }

    .icon {
      color: var(--color-primary);
    }

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;

      .footerFooter {
        align-items: center;
      }
    }
  }
  .mobileSelect {
    width: 126px;
  }
}
