@import 'normalize.css';
@import './mixins';
@import './layout';
@import './typography';

:root {
  --color-primary: #98768b;
  --color-secondary: #8c8c8c;
  --color-bg-primary: #f7fafc;
  --color-bg-primary2: #242424;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--color-bg-primary);
}
