@import 'normalize.css';

:root {
  --color-primary: #98768b;
  --color-secondary: #7d7d7d;
  --color-accent: #d6c5d3;
  --color-muted: #f5f1f3;
  --color-border: #e0d9de;
  --color-bg-primary: #fafafa;
  --color-bg-primary2: #462f2f;
  --color-card: #fff;
  --color-danger: #e26d6d;
  --color-success: #71c9a1;
  --text-color: #1a1a1a;
  font-family: 'Rubik', sans-serif !important;
  scroll-behavior: smooth;
  background-color: var(--color-bg-primary);
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  .ant-card {
    box-shadow: none !important;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-primary) !important;
  margin: 0 !important;
}

p,
a,
span {
  color: var(--color-secondary) !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

a:hover {
  color: var(--color-primary) !important;
}
