h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: var(--color-primary) !important;
  margin: 0 !important;
}

p,
span,
a {
  font-family: 'Rubik', sans-serif;
}

a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--color-primary);
  }
}
